# macOS
.DS_Store
 
# Windows
Thumbs.db
Desktop.ini
ehthumbs.db
.vs/
 
# Linux
*~
 
# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
 
# Environment variables
.env
.env.*
 
# Logs
logs/
*.log
*.pid
*.gz
 
# Temporary files and backups
*.tmp
*.temp
*.bak
*.swp
*.lock
*.orig
 
# Editor-specific files
.idea/
*.iml
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
 
# Testing
coverage/
 
# macOS-specific
*.DS_Store
 
# Xcode / iOS
ios/build/
ios/DerivedData/
ios/Pods/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
 
# Android
android/.gradle/
android/build
android/app/build/
android/.idea/
android/*.iml
android/local.properties
android/app/.cxx/
captures/
outputs/
*.apk
*.aab
*.keystore
!debug.keystore
 
# React Native
*.bundle
*.lock
*.pid
*.tflite
*.expo
*.expo-shared
 
# BUCK
buck-out/
.buckd/
*.keystore
!debug.keystore
 
# Metro bundler
.metro-health-check*
 
# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
 
# Bundle artifacts
*.jsbundle
*.hmap
 
# Ruby / CocoaPods
ios/Pods/
vendor/bundle/
 
# Build output
android/app/staging/release/output-metadata.json
android/app/production/release/output-metadata.json
 
# Miscellaneous
*.hprof
*.orig
*.rej
*.gz
*.woff
*.woff2